*{
    font-family: 'Nunito' !important;
}



div.jumbotron{
    background-image:url("image-26.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
}

div.m a{
    margin-bottom: 170px;
}



/*Models box - TOPS*/

.model-box{
    color: black;
    text-align: center;
}

.caixa .container{
    padding: 12px;
    border-bottom: 3px solid #f1f1f1;
}

#contact{
    font-family: 'Nunito' !important;
}

/*BREAKPOINTS*/

@media (max-width: 576px) { 
    .carousel-item h1{
        font-size:27px;
    }

    .carousel-item p{
        font-size:18px;
    }

    .carousel-inner{
        box-sizing: border-box;
    }
 }


@media (min-width: 576.1px ) and (max-width: 892px){ 
    .carousel-item h1{
        font-size:48px;
    }

    .carousel-item p{
        font-size:18px;
    }

    .carousel-inner{
        box-sizing: border-box;
    }
 }


@media (min-width: 892px) {
    
 }


@media (min-width: 1200px) { 

 }